.assists-profile{
    width:100%;
    height:100%;
    border: 1px solid #eeeeee;
}

.assists-heatmap{
    width: 100%;
    height: 400px;
}

.assists-heatmap .axis path{
    stroke:none;
}

.assists-heatmap .axis .tick line{
    stroke:none;
}

.assists-heatmap .axis .tick text{
    stroke:none;
    font-size:1.2em;
}